@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

// declara as fontes
#heebo{
    font-family: 'Heebo', sans-serif;
}
#roboto {
    font-family: 'Roboto', sans-serif;
}
#oswald {
    font-family: 'Oswald', sans-serif;
}
#bebas {
    font-family: 'Bebas Neue', cursive;
}
#piedra {
    font-family: 'Piedra', cursive;
}   

.container {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    background-color: #e45151;
}

.labelForm {
    color:#fff;
}
img {
    margin: 0 auto;
    align-items: center;
    width: 450px;
    height: 330px;    
    position: absolute;
    top: 180px;
    padding: 30px;
}
form {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width:500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #d61717;
}

nav {
    display: flex;
    flex-direction: row;
    ul {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            padding: 20px;
        }
    }
}

.form_dog {
    width: 320px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
}
