@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');

// declara as fontes
.heebo{
    font-family: 'Heebo', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.oswald {
    font-family: 'Oswald', sans-serif;
}
.bebas {
    font-family: 'Bebas Neue', cursive;
}
.piedra {
    font-family: 'Piedra', cursive;
}  

.teste {
    font-family: 'Piedra', cursive;
    color: red;
}

// declara a cor das fontes
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.gray {
    color: gray;
}
.black {
    color: black;
}


.container {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    width: 100%; 
    justify-content: top;
    align-items: center;
    background-color: #EE693F;
}

.form_dog {
    margin: 0 auto;
    background-color: #F69454;

}

.labelForm {
    color:#fff;
}

#message {
    margin-top: 10px;
    text-align:center;
}

img {
    margin: 0 auto;
    align-items: center;
    width: 450px;
    height: 330px;    
    margin-left: 20px;
    margin-bottom: 25px;
    padding: 30px;
}
form {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
}
.dogInfo {
    display:flex;
}

section form .input-block label {
    color: #FCFDFE;
    font-size: 14px;
    display: block;
}

nav {
    display: flex;
    flex-direction: row;
    ul {
        width: 80%;
        margin: 0 auto;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            padding: 20px;
        }
    }
}


